@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Geologica&family=PT+Mono&display=swap");

html,
body {
  height: 100%;
  background-color: #d1d2d4;
  color: #586e52;
  font-family: "Geologica", sans-serif;
  font-family: "PT Mono", monospace;
}

.cover {
  height: 100%;
  width: 100%;
  margin: 20px auto;
  display: flex;
  background: url(/eera-sm.png) no-repeat top center;
  background-size: contain;
}
